<%= form_for(@kid) do |f| %>
  <% if @kid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kid.errors.count, "error") %> prohibited this kid from being saved:</h2>

      <ul>
      <% @kid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>


<%#= f.fields_for :pets do |p| %>
<%#*<p> <div>%>
  <%#= p.label :pet_name %>
  <%#= p.string_field :pet_name  %>
  <%#*</div>%>
<%#*</p>%>
<%# end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
