<h1>Listing kids</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Number of pets</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kids.each do |kid| %>
  <tr>
    <td><%= kid.first_name %></td>
    <td><%= kid.last_name %></td>
    <td><%= kid.pets.count %></td>
    <td><%= link_to 'Show', kid %></td>
    <td><%= link_to 'Edit', edit_kid_path(kid) %></td>
    <td><%= link_to 'Destroy', kid, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kid', new_kid_path %>
