<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @kid.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @kid.last_name %>
</p>


<%= link_to 'Edit', edit_kid_path(@kid) %> |
<%= link_to 'Back', kids_path %>
