<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @kid.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @kid.last_name %>
</p>

<h2>Pets</h2>
<% @kid.pets.each do |pet| %>
  <p>
    <b>Pet name:</b>
    <%= pet.pet_name %>
  </p>
  <p>
    <b>Color:</b>
    <%= pet.color %>
  </p>
  <p>
    <b>Pet is-a:</b>
    <%= pet.species %>
  </p>
<% end %>

  <h2>Add a Pet:</h2>
  <%= form_for([@kid, @kid.pets.build]) do |p| %>
  <%#= p.error_messages  %>

   <div class="field">
    <%= p.label :pet_name %><br />
    <%= p.text_field :pet_name %>
  </div>
  <div class="field">
    <%= p.label :color %><br />
    <%= p.text_field :color %>
  </div>
  <div class="field">
    <%= p.label :species %><br />
    <%= p.text_field :species %>
  </div>
  <div class="actions">
    <%= p.submit %>
  </div>
  <% end %>


  <%= link_to 'Edit', edit_kid_path(@kid) %> |
<%= link_to 'Back', kids_path %>
