<p id="notice"><%= notice %></p>
<h2>Kid</h2>
<p>
  <b>First name:</b>
  <%= @kid.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @kid.last_name %>
</p>
  <%= link_to 'Edit Names', edit_kid_path(@kid) %> |
<%= link_to 'Back', kids_path %>
<h2>Pets</h2>

<table>
  <tr>
    <th>Pet name</th>
    <th>Color</th>
    <th>Pet is-a</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kid.pets.each do |pet| %>
  <tr>
    <td><%= pet.pet_name %></td>
    <td><%= pet.color %></td>
    <td><%= pet.species %></td>
    <td><%= link_to 'Show', pet %></td>
    <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
    <td><%= link_to 'Destroy', pet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>



