<p id="notice"><%= notice %></p>

<h2>Pet</h2>
<p>
  <b>Pet name:</b>
  <%= @pet.pet_name %>
</p>

<p>
  <b>Color:</b>
  <%= @pet.color %>
</p>

<p>
  <b>Species:</b>
  <%= @pet.species %>
</p>


<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>

<h2>Kid Owner</h2>
<p>
  <b>Kid ID:</b>
  <%= @pet.kid_id %>
</p>
<p>
  <b>First name:</b>
  <%= @pet.kid.first_name %>
</p>
<p>
  <b>Last name:</b>
  <%= @pet.kid.last_name %>
</p>